.navbar {
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: hsl(220, 7%, 92%);
}
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-dropdown .dropdown-item {
  color: hsl(220, 7%, 92%);
}

.navbar .navbar-brand{
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
  text-decoration: none;
}
.navbar .nav-link:hover{
  color: #61dafb;
}
.d-flex{
  width: 350px;
  max-width: 100%;
  position:relative;
}
.d-flex .form-control {
  box-shadow:none;
}
.d-flex .form-control:focus{
  box-shadow:none;
  border: 2px solid hsl(119, 73%, 53%);
}
.d-flex .icon{
  background-color: transparent;
}
.d-flex #search::-webkit-search-cancel-button{
  -webkit-appearance: none;
}
.d-flex #search::placeholder{
  color:  hsl(0, 0%, 100%);
}
.d-flex #search[type=search]{
  background-color: hsl(220, 4%, 29%);
  color: hsl(0, 0%, 100%);
}
.login-button, .register-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.login-button {
  background-color: transparent;
  color: #61dafb;
}
.register-button {
  background-color: #61dafb;
  color: #1a1a1a;
}
.navbar .register-button:hover{
  color: red;
}
.navbar .register-button:focus{
  color: #1a1a1a;
}
.navbar .login-button:hover{
  color: hsl(220, 7%, 92%);
}
.icon-items{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: none;
  background: none;
}
.dropdown-menu{
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  background-color: transparent;
  color: #61dafb;
}