.firstLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 0;
    max-width: 100%;
}
.Pag{
    display: flex;
    justify-content: end;
}
.func{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.body-content{
    max-width: 80%;
}

.film-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.film-container .film-card{
    display: grid;
    grid-template-rows: 80px 9.375rem 9.375rem 1fr;
    grid-template-columns: 16.25rem 1fr 1fr ;
}

.film-container .film-card .film-title{
    grid-area: 1/1/-4/4;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.film-container .film-card .film-image{
    grid-area: 2/1/-2/-2;
    width: 15rem;
    height: 18.75rem;
    padding-left: 30px;
}
.film-container .film-card .film-image img{
    width: 100%;
    height: 100%;
}
.film-container .film-card .film-info{
    grid-area: 2/2/-3/4;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.film-container .film-card .film-info .film-info-categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 4px;
}

.film-container .film-card .film-functions{
    grid-area: 3/2/-2/3;
}
.film-container .film-card .film-functions .film-functions-content{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px 10px;
}
.film-container .film-card .film-synopsis{
    grid-area: 4/1/-1/-1;
    padding-left: 30px;
    padding-top: 15px;
}
.Vid-manage-container{
    background-color: rgb(255, 255, 255);
    color: black;
    display: grid;
    grid-template-rows: 3.125rem 18.75rem auto;
    grid-template-columns: 380px 1fr;
    row-gap: 10px;
}
.vid-manage-title{
    grid-area: 1/1/-3/-1;
}
.vid-manage-img{
    grid-area: 2/1/-2/2;
    width: 15rem;
    height: 18.75rem;
    padding-left: 1.875rem;
}
.vid-manage-img img{
    width: 100%;
    height: 100%;
}
.vid-manage-control{
    grid-area: 2/2/-1/3;
    padding-bottom: 0.625rem;
}
.vid-manage-episode{
    grid-area: 3/1/-2/-2;
}
.ep-list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 0 0.625rem 0.3125rem;
    column-gap: 5px;
}